{% ckan_extends %}

{# Add tabs to group/initiative detail pages: News, Events, Publications #}
{% block content_primary_nav %}
  {{ h.build_nav_icon(group_type + '.read', h.humanize_entity_type('package', dataset_type, 'content tab') or _('Datasets'), id=group_dict.name, icon='sitemap') }}
  {{ h.build_nav_icon('theme_ejemplo.group_news', _('News'), name=group_dict.name, icon='newspaper') }}
  {{ h.build_nav_icon('theme_ejemplo.group_events', _('Events'), name=group_dict.name, icon='calendar') }}
  {{ h.build_nav_icon('theme_ejemplo.group_publications', _('Documents'), name=group_dict.name, icon='file-text') }}
  {{ h.build_nav_icon('theme_ejemplo.group_members', _('Members'), name=group_dict.name, icon='users') }}
  {{ h.build_nav_icon(group_type + '.about', _('About'), id=group_dict.name, icon='info-circle') }}
{% endblock %}
