include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/theme_ejemplo *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/theme_ejemplo/migration *.ini *.py *.mako
