{% extends "page.html" %}
{% block title %}
{% trans %}Internet of Things Portal{% endtrans %} - {{ super() }}
{% endblock %}


{% block content %}


<div class="homepage layout-{{ homepage_style }}">
    <div id="content" class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}

    <div class="main">

        <div class="container">

            <div class="toolbar" role="navigation" aria-label="Breadcrumb">
                <ol class="breadcrumb">                 
                    <li class="home"><a href="/" aria-label="Home"><i class="fa fa-home"></i><span> Home</span></a></li>
                    <li class="active"><a href="{{ h.url_for('/iot_portal') }}">{% trans %}Internet of Things Portal{% endtrans %}</a></li>
                </ol>
            </div>

            <!-- Banner with overlay text using same structure as FeaturedPublications -->
            <section class="module module-narrow module-shallow">
              <div class="section-title" style="margin-bottom: 2rem;">
                <div class="section-title-bg" style="background-image: url('./Landing_page/Content/03IHP-INTERNET.jpg');"></div>
                <div class="section-title-overlay"></div>
                <div class="section-title-content">
                  <h2>{{ _('Internet of Things Portal') }}</h2>
                  <p class="section-title-description">{{ _('Flood and Drought Monitoring and Early Warning Systems') }}</p>
                </div>
              </div>
            </section>
          </div>
        
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <!-- What are IoT Systems section -->
                <div style="margin-bottom: 3rem;">
                  <p>{{ _('In support of hazard early warning these monitors provide operational near real-time monitoring and forecasting of flood and drought conditions.') }}</p>
                  <h3>{% trans %}What are IoT Systems?{% endtrans %}</h3>
                  <p>{% trans %}IoT systems use connected sensors to automatically collect real-time data on water and climate conditions. These systems transmit data wirelessly to central platforms, supporting faster response and better decisions for flood and drought management.{% endtrans %}</p>
                  
                  <p><strong>{% trans %}Deployed at various scales, they monitor key parameters such as:{% endtrans %}</strong></p>
                  
                  <ul>
                    <li>{% trans %}Water level{% endtrans %}</li>
                    <li>{% trans %}Rainfall{% endtrans %}</li>
                    <li>{% trans %}Soil moisture{% endtrans %}</li>
                    <li>{% trans %}Temperature, humidity and air pressure{% endtrans %}</li>
                    <li>{% trans %}Wind Speed{% endtrans %}</li>
                  </ul>
                </div>
        
                <!-- Portal Cards Section -->
                <div class="row">
                  <div class="col-md-4">
                    <div class="col-small">
                      <div class="cardsmall cardsmall-thematic cardsmall-cta cardsmall-hero"> 
                        <img class="cardsmall-img-top image-style-cardsmall-1-column" src="./Landing_page/Content/unesco_global_iot.png" alt="" loading="lazy">
                        <div class="cardsmall-body">
                          <h3 class="cardsmall-title">{% trans %}UNESCO Global Internet of Things Portal{% endtrans %}</h3>
                          <div class="cardsmall-text">
                            <p>{% trans %}Access comprehensive IoT data and monitoring systems for water resource management globally.{% endtrans %}</p>
                          </div>
                          <div class="field field--name-field-link field--type-link field--label-hidden field__item">
                            <a href="https://tb.ihp-wins.unesco.org/dashboard/4922c770-13c0-11f0-8913-cf831348fa91?publicId=260967b0-4e9c-11ef-b517-e7921ca0fba9" class="btn btn-primary btn-arrow-right">{{ _("Access") }}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-md-4">
                    <div class="col-small">
                      <div class="cardsmall cardsmall-thematic cardsmall-cta cardsmall-hero"> 
                        <img class="cardsmall-img-top image-style-cardsmall-1-column" src="./Landing_page/Content/be_resilient_southern_africa.png" alt="" loading="lazy">
                        <div class="cardsmall-body">
                          <h3 class="cardsmall-title">{% trans %}Be-Resilient Southern African Biosphere Reserves Portal{% endtrans %}</h3>
                          <div class="cardsmall-text">
                            <p>{% trans %}Monitoring and early warning systems for Southern African biosphere reserves.{% endtrans %}</p>
                          </div>
                          <div class="field field--name-field-link field--type-link field--label-hidden field__item">
                            <a href="https://hydrology.soton.ac.uk/apps/afdm/" class="btn btn-primary btn-arrow-right">{{ _("Access") }}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-md-4">
                    <div class="col-small">
                      <div class="cardsmall cardsmall-thematic cardsmall-cta cardsmall-hero"> 
                        <img class="cardsmall-img-top image-style-cardsmall-1-column" src="./Landing_page/Content/be_resilient_bupusa.png" alt="" loading="lazy">
                        <div class="cardsmall-body">
                          <h3 class="cardsmall-title">{% trans %}Be-Resilient BuPuSa Portal (Mozambique and Zimbabwe){% endtrans %}</h3>
                          <div class="cardsmall-text">
                            <p>{% trans %}Regional monitoring portal for Mozambique and Zimbabwe water systems.{% endtrans %}</p>
                          </div>
                          <div class="field field--name-field-link field--type-link field--label-hidden field__item">
                            <a href="https://hydrology.soton.ac.uk/apps/saf_app/" class="btn btn-primary btn-arrow-right">{{ _("Access") }}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        
        
              </div>
            </div>
          </div>

    
    </div>
    </div>
    {% endblock %}
  </div>




{% endblock %} 