{% ckan_extends %}
{% block styles %}
  {{ super() }}
<link rel="stylesheet" href="{{ h.url_for_static('/theme_ejemplo.css') }}" />
<link rel="stylesheet" href="{{ h.url_for_static('/ckan210-fixes.css') }}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
{# Load schemingdcat icons for INSPIRE theme icons globally #}
{% asset 'ckanext-schemingdcat/schemingdcat-icons' %}

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ h.url_for_static('/theme_ejemplo_enhanced.js') }}"></script>
{% endblock %}
