{% ckan_extends %}
{% block styles %}
  {{ super() }}
<link rel="stylesheet" href="{{ h.url_for_static('/theme_ejemplo.css') }}" />
<link rel="stylesheet" href="{{ h.url_for_static('/css/people-orgs.css') }}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
{# Load schemingdcat icons for INSPIRE theme icons globally #}
{% asset 'ckanext-schemingdcat/schemingdcat-icons' %}

{% endblock %}

{% block head_extras %}
  {{ super() }}
  {# Load ckan210-fixes.css LAST to override all other styles #}
  <link rel="stylesheet" href="{{ h.url_for_static('/ckan210-fixes.css') }}" />
{% endblock %}

{% block scripts %}
  {% asset 'theme/ckan-bs5-compat-js' %}
  {{ super() }}
  {% asset 'theme/theme-ejemplo-runtime-js' %}
{% endblock %}
