{% block header_wrapper %} {% block header_account %}
{% if c.userobj %}
<div class="account-masthead">
  <div class="container">
    {% block header_account_container_content %} {% if c.userobj %}
    <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
      <ul class="list-unstyled2">
        {% block header_account_logged %} {% if c.userobj.sysadmin %}
        <li>
          <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
            <i class="fa fa-gavel" aria-hidden="true"></i>
            <span class="text">{{ _('Admin') }}</span>
          </a>
        </li>
        <li>
          <a href="#" title="{{ _('Approval Workflow') }}">
            <i class="fa fa-list"></i>
          </a>
        </li>
        <li>
          <a href="/harvest" title="harvest">
            <span class="text">{{ _('Harvest') }}</span>  </a>
        </li>
        {% endif %}
        <li>
          <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                  {{ h.user_image((c.user if c and c.user else ''), size=22) }}
                  <span class="username">{{ c.userobj.display_name }}</span>
                </a>
        </li>
        {% set new_activities = h.new_activities() %}
        <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
          {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)
          %}
          <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span class="text">{{ _('Dashboard') }}</span>
            <span class="badge">{{ new_activities }}</span>
          </a>
        </li>
        {% block header_account_settings_link %}
        <li>
          <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Profile settings') }}">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span class="text">{{ _('Profile settings') }}</span>
          </a>
        </li>
        {% endblock %} {% block header_account_log_out_link %}
        <li>
          <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span class="text">{{ _('Log out') }}</span>
          </a>
        </li>
        {% if c.userobj.sysadmin %}
        <li>
          <a href="{{ h.url_for('/blog') }}" alt="Blog">Blog</a>
        </li>
        <li>
          <a href="{{ h.url_for('/colab/admin') }}" alt="Blog">Colab Admin</a>
        </li>
        <li>
          <a href="{{ h.url_for('/pages') }}" alt="Blog">Pages</a>
        </li>
        {% endif %}
        {% endblock %} {% endblock %}
      </ul>
    </div>
    {% else %}

    {% endif %} {% endblock %}
  </div>
</div>
{% endif %}

{% endblock %}

{% if h.current_url() == '/' %}
{% set is_index = True %}
{% else %}
{% set is_index = False %}
{% endif %}
<header class="navbar navbar-static-top masthead" {{ '' if is_index else 'style="background-color: #0077d4 !important;"' | safe }} > 
  {% block header_debug %} {% if g.debug and not g.debug_supress_header %}
  <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
  {% endif %} {% endblock %}
  <div class="container">
    <div class="navbar-right">

      <li class="navbar-toggle collapsed" style="list-style:none">
      {% snippet "snippets/language_selector.html" %}
      </li>

      <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button" aria-label="expand or collapse" aria-expanded="false">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <hgroup class="{{ g.header_class }} navbar-left">
      {% block header_logo %} {% if g.site_logo %}
      <a class="logo" href="{{ h.url_for('/') }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
      {% else %}
      <h1>
        <a href="{{ h.url_for('/') }}">{{ g.site_title }}</a>
      </h1>
      {% if g.site_description %}
      <h2>{{ g.site_description }}</h2>{% endif %} {% endif %} {% endblock %}
    </hgroup>
    
    <div class="topmenu">
      <ul>
        <li>
        {% block footer_lang %}
        {% snippet "snippets/language_selector.html" %}
        {% endblock %}
        </li>
        {% block header_account_notlogged %}
        {% if c.userobj %}
        <li><a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">{{ _('Log out') }}</a></li> 
        {% else %}
        <li>{% link_for _('Log in'), named_route='user.login' %}</li>
        {% endif %}
        {% endblock %}
        <li><a href="{{ h.url_for('/colab') }}" alt="Enroll as a Data Contributor for Your Organization">{% trans %}Enroll as a Data Contributor for Your Organization{% endtrans %}</a></li>
        <li><a href="https://www.unesco.org/en/" alt="UNESCO Portal">UNESCO</a></li>

      </ul>
    </div>

    <div class="collapse navbar-collapse" id="main-navigation-toggle">
      {% block header_site_navigation %}
      <nav class="section navigation">
        <ul class="nav nav-pills">
    {% block header_site_navigation_tabs %}
    <li><a href="{{ h.url_for('/') }}">{% trans %}Home{% endtrans %}</a></li>

		    {{ h.build_nav_main(
		    ('dataset.search', _('Datasets')),
		    ('organization.index', _('Organizations'))

		     ) }}
	    
      <li><a href="{{ h.url_for('/memberstates') }}">{% trans %}Member States{% endtrans %}</a></li>
      <li><a href="{{ h.url_for('/initiatives') }}">{% trans %}Initiatives{% endtrans %}</a></li>
      <li><a href="https://www.unesco.org/en/ihp">{{ _('About') }} IHP</a></li>
      {% endblock %}
        </ul>
      </nav>

      {% block header_site_search %}
      <form class="section site-search simple-input" action="{% url_for 'dataset.search' %}" method="get">
        <div class="field">
          <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
          <input id="field-sitewide-search" type="text" class="form-control" name="q" placeholder="{{ _('Search') }}" aria-label="{{ _('Search datasets') }}"/>
          <button class="btn-search" type="submit" aria-label="{{ _('Submit') }}"><i class="fa fa-search"></i></button>
        </div>
      </form>
      {% endblock %}
      
      {% endblock %} 
    </div>
  </div>
</header>
{% endblock %}
