<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('What is Thematic Builder?') }}
    </h2>
    <div class="module-content">
      <p>
        {{ _('The Thematic Builder allows you to:') }}
      </p>
      <ul>
        <li>{{ _('Upload JSON catalog files') }}</li>
        <li>{{ _('Filter and modify catalog structure') }}</li>
        <li>{{ _('Select/deselect items to include') }}</li>
        <li>{{ _('Download modified JSON catalogs') }}</li>
      </ul>
    </div>
  </div>