{#
Renders a list of resources with icons and view links.

resources - A list of resources (dicts) to render
pkg - A package dict that the resources belong to.
is_activity_archive - Whether this is an old version of the dataset (and therefore read-only)

Example:

  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

#}
<section id="dataset-resources" class="resources">
  <h2>{{ _('Data and Resources') }}</h2>
  {% block resource_list %}
    {% if resources %}
      <ul class="{% block resource_list_class %}resource-list{% endblock %}">
        {% block resource_list_inner %}
          {% set can_edit = h.check_access('package_update', {'id':pkg.id }) and not is_activity_archive %}
          {% set items_per_page = 10 %}
          {% set current_page = request.args.get('page', 1) | int %}
          
          {# Usar el nuevo helper para obtener recursos paginados #}
          {% set paged_data = h.theme_ejemplo_get_paged_resources(pkg.id, current_page, items_per_page) %}
          {% set total_resources = paged_data.total %}
          
          {% for res in paged_data.resources %}
            {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=res, can_edit=can_edit, is_activity_archive=is_activity_archive %}
          {% endfor %}

          {% if total_resources > items_per_page %}
            <div class="pagination">
              {% if current_page > 1 %}
                <a href="{{ h.url_for(request.endpoint, id=pkg.name, page=current_page-1) }}" class="btn btn-default">&laquo; {{ _('Previous') }}</a>
              {% endif %}
              
              <span class="page-info">{{ _('Page') }} {{ current_page }} {{ _('of') }} {{ (total_resources / items_per_page) | round(0, 'ceil') | int }}</span>
              
              {% if current_page * items_per_page < total_resources %}
                <a href="{{ h.url_for(request.endpoint, id=pkg.name, page=current_page+1) }}" class="btn btn-default">{{ _('Next') }} &raquo;</a>
              {% endif %}
            </div>
          {% endif %}
        {% endblock %}
      </ul>
    {% else %}
      {% if h.check_access('resource_create', {'package_id': pkg['id']}) and not is_activity_archive %}
          {% trans url=h.url_for(pkg.type ~ '_resource.new', id=pkg.name) %}
            <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
          {% endtrans %}
      {% else %}
          <p class="empty">{{ _('This dataset has no data') }}</p>
      {% endif %}
    {% endif %}
    {% endblock %}
</section>