{% ckan_extends %}

{# Add additional tabs to organization page #}
{% block content_primary_nav %}
  {{ h.build_nav_icon(group_type + '.read', h.humanize_entity_type('package', dataset_type, 'content tab') or _('Datasets'), id=group_dict.name, icon='sitemap') }}
  {{ h.build_nav_icon('theme_ejemplo.organization_publications', _('Publications'), name=group_dict.name, icon='book') }}
  {{ h.build_nav_icon('theme_ejemplo.organization_people', _('People'), name=group_dict.name, icon='users') }}
  {{ h.build_nav_icon('theme_ejemplo.organization_news', _('News'), name=group_dict.name, icon='newspaper') }}
  {{ h.build_nav_icon('theme_ejemplo.organization_events', _('Events'), name=group_dict.name, icon='calendar') }}
  {{ h.build_nav_icon(group_type + '.about', _('About'), id=group_dict.name, icon='info-circle') }}
{% endblock %}

{# Add request membership button #}
{% block content_action %}
  {{ super() }}
  {% if current_user.is_authenticated and not h.is_org_member(group_dict.id) %}
    <a href="{{ h.url_for('theme_ejemplo.request_membership', name=group_dict.name) }}" class="btn btn-default">
      <i class="fa fa-user-plus"></i> {{ _('Request to Join') }}
    </a>
  {% endif %}
{% endblock %}

{# Organization statistics in sidebar #}
{% block secondary_content %}
  {{ super() }}
  {% set stats = h.get_org_statistics(group_dict.id) %}
  {% if stats %}
  <div class="module module-narrow module-shallow org-stats">
    <h2 class="module-heading"><i class="fa fa-bar-chart"></i> {{ _('Statistics') }}</h2>
    <div class="module-content">
      <div class="nums">
        <dl>
          <dt>{{ _('Datasets') }}</dt>
          <dd>{{ stats.datasets }}</dd>
        </dl>
        <dl>
          <dt>{{ _('Publications') }}</dt>
          <dd>{{ stats.publications }}</dd>
        </dl>
        <dl>
          <dt>{{ _('Members') }}</dt>
          <dd>{{ stats.members }}</dd>
        </dl>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
