<section class="module module-narrow module-shallow">
  <div class="section-title">
    <div class="section-title-bg" style="background-image: url('/Landing_page/Content/IHP TITLE05PUBLICATIONS.jpg');"></div>
    <div class="section-title-overlay"></div>
    <div class="section-title-content">
      <h2>{{ _('Featured Publications') }}</h2>
      <p class="section-title-description">{{ _('Latest research and insights from UNESDOC and Water Family') }}</p>
    </div>
  </div>
</section>

<div class="module-content box">
    <div>
      <h2 class="page-heading">{% trans %}Featured Publications{% endtrans %}</h2>
  
        <p>
          {% trans %}Delve into our featured UNESDOC and Water Family publications for invaluable insights into water-related topics. These latest publications cover a wide range of subjects, from water governance to climate change adaptation, providing essential knowledge for researchers, policymakers, and practitioners alike. Explore these resources to stay informed and empowered in the realm of water management and conservation.        {% endtrans %}</p>

    
        </div>
  </div>
  