<section class="module module-narrow module-shallow">
  <div class="section-title" style="margin-bottom: 0.5rem;">
    <div class="section-title-bg" style="background-image: url('/Landing_page/Content/IHPTITLE02DATASETS.jpg');"></div>
    <div class="section-title-overlay"></div>
    <div class="section-title-content">
      <h2>{{ _('Featured Datasets') }}</h2>
      <p class="section-title-description">{{ _('Recently uploaded datasets from UNESCO\'s Water Family') }}</p>
    </div>
  </div>
</section>

  