<section class="module module-narrow module-shallow">
  <div class="section-title">
    <div class="section-title-bg" style="background-image: url('/publications-bg.jpg');"></div>
    <div class="section-title-overlay"></div>
    <div class="section-title-content">
      <h2>Featured Publications</h2>
      <p class="section-title-description">Featured publications from UNESCO IHP and the Water Family</p>
    </div>
  </div>
</section>

<div class="module-content box">
    <div>
  
        <p>
          {% trans %}Delve into our featured UNESDOC and Water Family publications for invaluable insights into water-related topics. These latest publications cover a wide range of subjects, from water governance to climate change adaptation, providing essential knowledge for researchers, policymakers, and practitioners alike. Explore these resources to stay informed and empowered in the realm of water management and conservation.        {% endtrans %}</p>

    
        </div>
  </div>
  