{% set featured_datasets = h.get_featured_datasets_filtered(tag='FeaturedDataset', user='8ad64841-340c-49dc-8716-c6b61ea4b111') %}
{% for dataset in featured_datasets %}
<div class="col-md-4 col3">
<div class="col-small"><div class="cardsmall cardsmall-height-fixed cardsmall-cta cardsmall-hero"> 
{% set org_image_url = h.get_organization_image_by_name(dataset['name']) %}
{% if org_image_url %}
<img class="cardsmall-img-top2 image-style-cardsmall-1-column" src="{{ org_image_url }}" width="289" height="424" alt="" loading="lazy"><div class="cardsmall-body">
{% else %}
<img class="cardsmall-img-top2 image-style-cardsmall-1-column" src="./Landing_page/Content/data_catalogue_button1.png" width="289" height="424" alt="" loading="lazy"><div class="cardsmall-body">
{% endif %}
        <div class="cardsmall-title">{{ dataset['title'] }}</div><div class="cardsmall-text">
            <p>{{ dataset['notes'] }}</p></div><div class="field field--name-field-link field--type-link field--label-hidden field__item">
        <a href="{{ h.url_for('dataset.read', id=dataset['name']) }}" class="btn btn-primary btn-arrow-right" target="_blank">{{ _("Discover") }}</a></div></div></div></div>
</div>
{% endfor %}