<section class="module module-narrow module-shallow">
  <div class="section-title">
    <div class="section-title-bg" style="background-image: url('/Landing_page/Content/IHP TITLE02DATASETS.jpg');"></div>
    <div class="section-title-overlay"></div>
    <div class="section-title-content">
      <h2>{{ _('Featured Datasets') }}</h2>
      <p class="section-title-description">{{ _('Recently uploaded datasets from UNESCO\'s Water Family') }}</p>
    </div>
  </div>
</section>

<div class="module-content box">
    <div> 
        <p>
          {% trans %}The featured datasets showcased have been recently uploaded by UNESCO's Water Family. These datasets offer insights into various aspects of water resources, from historical datasets to the latest advancements in hydrological science.{% endtrans %}        </p>
    </div>
  </div>
  