{% set featured_datasets = h.get_featured_datasets_filtered('UNESDOC', '1ba0aed8-4e54-4be8-8e23-6f6472574cf7') %}
{% for dataset in featured_datasets %}
<div class="col-md-4 col3">
<div class="col-small"><div class="cardsmall cardsmall-height-fixed cardsmall-cta cardsmall-hero"> 
    {% print (org_image_url) %}
    {% for extra in dataset.extras %}
    {% if extra.key == 'image' %}
    {% set org_image_url = extra.value %}
    <img class="cardsmall-img-top image-style-cardsmall-1-column" src="{{ org_image_url }}" width="289" height="424" alt="" loading="lazy"><div class="cardsmall-body">
    {% endif %}
{% endfor %}
        <div class="cardsmall-title">{{ dataset['title'] }}</div><div class="cardsmall-text">
            <p>{{ dataset['notes'] }}</p></div><div class="field field--name-field-link field--type-link field--label-hidden field__item">
        <a href="{{ dataset['url'] }}" class="btn btn-primary btn-arrow-right" target="_blank">Discover</a></div></div></div></div>
</div>
{% endfor %}