<section class="module module-narrow module-shallow">
  <div class="section-title" style="margin-bottom: 0.5rem;">
    <div class="section-title-bg" style="background-image: url('/Landing_page/Content/IHP TITLE04.jpg');"></div>
    <div class="section-title-overlay"></div>
    <div class="section-title-content">
      <h2>{{ _('IHP Open Learning') }}</h2>
      <p class="section-title-description">{{ _('Explore our open learning curricula for water professionals') }}</p>
    </div>
  </div>
</section>

<div class="module-content box">
    <div>  
        <p>
            {% trans %}Explore the <a href="https://openlearning.unesco.org/" target="_blank">IHP Open Learning platform</a> or participate in one of the latest open learning courses and enhance your expertise in various water-related topics. Join us on this journey of learning and discovery as we strive towards sustainable water management practices worldwide.{% endtrans %}
        </p>
        
    </div>
  </div>
  