
<div class="module-content box">
    <div>
      <h2 class="page-heading">{% trans %}IHP Education{% endtrans %}</h2>
  
        <p>
            {% trans %}Our dedication to continuous learning is embodied in the IHP-WINS Open Learning Environment. This initiative serves as a hub for educational resources, fostering capacity building and research among stakeholders and researchers alike. It hosts water-related courses for and by researchers, policy-makers and scientist from around the globe.{% endtrans %}         </p>
    <h3 class="page-heading">{% trans %}Featured Courses{% endtrans %}</h3>
            <p>
                {% trans %}Explore the latest open learning courses and enhance your expertise in various water-related topics. Join us on this journey of learning and discovery as we strive towards sustainable water management practices worldwide.{% endtrans %}
    </p>
    <a href="https://openlearning.unesco.org/" alt="Open Learning"><img src="/IHPOpenLearning.webp" alt="Open Learning" /></a>
    
        </div>
  </div>
  