{% set courses = h.get_latest_courses() %}
{% if courses %}
<div class="row">
    {% for course in courses %}
    <div class="col-md-3 col4 col-enhanced">
        {% snippet 'snippets/course_card.html', course=course %}
    </div>
    {% endfor %}
</div>
<div class="row" style="margin-top: 1rem;">
  <div class="col-md-12 text-center">
    <a href="{{ h.url_for('theme_ejemplo.courses') }}" class="btn btn-primary btn-lg">
      <i class="fa fa-graduation-cap"></i> {% trans %}View all courses{% endtrans %}
    </a>
  </div>
</div>
{% endif %}
