<section class="module module-narrow module-shallow">
  <div class="section-title">
    <div class="section-title-bg" style="background-image: url('/Landing_page/Content/IHPTITLE06EVENTS.jpg');"></div>
    <div class="section-title-overlay"></div>
    <div class="section-title-content">
      <h2>{{ _('UNESCO Water Family News and Events') }}</h2>
      <p class="section-title-description">{{ _('Stay updated with the latest activities and announcements') }}</p>
    </div>
  </div>
  <div id="IHPEvents"></div>
</section>
  