
<div class="module-content box">
    <div>
      <h2 class="page-heading">IHP Education</h2>
  
        <p>
            Our dedication to continuous learning is embodied in the IHP-WINS Open Learning Environment. This initiative serves as a hub for educational resources, fostering capacity building and research among stakeholders and researchers alike. It hosts water-related courses for and by researchers, policy-makers and scientist from around the globe.         </p>
    <h3 class="page-heading">Featured Courses</h3>
            <p>
        Explore the latest open learning courses and enhance your expertise in various water-related topics. Join us on this journey of learning and discovery as we strive towards sustainable water management practices worldwide.
    </p>
    <img src="/IHPOpenLearning.webp" alt="Open Learning" />
    
        </div>
  </div>
  