<section class="module module-narrow module-shallow">
  <div class="section-title" style="margin-bottom: 0.5rem;">
    <div class="section-title-bg" style="background-image: url('/Landing_page/Content/IHP TITLE03.jpg');"></div>
    <div class="section-title-overlay"></div>
    <div class="section-title-content">
      <h2>{{ _('UNESCO Water Family News and Events') }}</h2>
      <p class="section-title-description">{{ _('News, announcements and upcoming events') }}</p>
    </div>
  </div>
  <div id="IHPEvents"></div>
</section>
  