
<div class="module-content box">
    <div>
      <h2 class="page-heading">IHP Viewers</h2>
  
        <p>
            <strong>The Geospatial Catalogue Viewer</strong> within IHP-WINS serves as a powerful tool, enabling users to transform data from the catalogue into actionable insights, supporting the closing of the data-knowledge gap.        
        </p>
    <p>
        <strong>The Thematic Viewers</strong> complement the multitude of visualization options available for our water-related data, offering a diverse array of tools tailored to the need of the specific theme.

    </p>
    
    <div class="col-lg-6"><div class="card card-height-fixed card-cta card-hero"> <img class="card-img-top image-style-card-1-column" src="./Landing_page/Content/terria_viewer_button_image.png" width="289" height="424" alt="" loading="lazy"><div class="card-body"><div class="card-title">The Geospatial Catalogue Viewer </div><div class="card-text"><p>By overlaying datasets, stakeholders gain insights into water-related patterns and trends, facilitating informed decision-making and more. The variety of datasets and scales enable to uncover insights into both overarching global trends and finer-grained local patterns.</p></div><div class="field field--name-field-link field--type-link field--label-hidden field__item"><a href="/terriav8/" class="btn btn-primary btn-arrow-right" target="_blank">Discover</a></div></div></div></div>
        
    </div>
  
</div>
  