<section class="module module-narrow module-shallow">
    <div class="section-title section-title-enhanced" style="margin-bottom: 0.5rem;">
      <div class="section-title-bg" style="background-image: url('/Landing_page/Content/IHPTITLE03GEOSPATIAL.jpg');"></div>
      <div class="section-title-overlay"></div>
      <div class="section-title-content">
        <h2>{{ _('Geospatial Catalogue Viewer') }}</h2>
        <p class="section-title-description">{{ _('Transform data into actionable insights') }}</p>
      </div>
    </div>
  </section>
    

<div class="module-content box">
    <div>
    <div class="col-lg-6">
  <div class="card card-enhanced card-height-fixed card-hero">
    <img class="card-img-top card-img-enhanced image-style-card-1-column" src="./Landing_page/Content/terria_viewer_button_image.png" width="289" height="424" alt="" loading="lazy">
    <div class="card-body">
      <div class="card-title">{% trans %}The Geospatial Catalogue Viewer {% endtrans %}</div>
      <div class="card-text card-text-enhanced">
        <p>{% trans %}By overlaying datasets, stakeholders gain insights into water-related patterns and trends, facilitating informed decision-making and more. The variety of datasets and scales enable to uncover insights into both overarching global trends and finer-grained local patterns.{% endtrans %}</p>
      </div>
      <div class="field field--name-field-link field--type-link field--label-hidden field__item">
        <a href="https://ihp-wins.unesco.org/terria/" class="btn btn-primary btn-arrow-right" target="_blank">{% trans %}Discover{% endtrans %}</a>
      </div>
    </div>
  </div>
</div>
        
    </div>
  
</div>

