<section class="module module-narrow module-shallow">
    <div class="section-title">
      <div class="section-title-bg" style="background-image: url('/thematic-viewers-bg.jpg');"></div>
      <div class="section-title-overlay"></div>
      <div class="section-title-content">
        <h2>Thematic Viewers</h2>
        <p class="section-title-description">Specialized tools for thematic water data visualization</p>
      </div>
    </div>
  </section>
  
<div class="module-content box">
    <div>
        <!-- Text removed as requested -->
        
        <div class="col-md-4 col3">
        <div class="col-small"><div class="cardsmall cardsmall-thematic cardsmall-cta cardsmall-hero"> <img class="cardsmall-img-top image-style-cardsmall-1-column" src="./Landing_page/Content/flood_and_drought_monitoring_button_image.jpg" width="289" height="424" alt="" loading="lazy"><div class="cardsmall-body"><div class="cardsmall-title">Flood and Drought Monitoring and Early Warning Systems</div><div class="cardsmall-text"></div>
        </div>            <div class="field field--name-field-link field--type-link field--label-hidden field__item"><a href="https://hydrology.soton.ac.uk/apps/" class="btn btn-primary btn-arrow-right" target="_blank">{{ _("Discover") }}</a></div>
        </div></div>
        </div>

        <div class="col-md-4 col3">
        <div class="col-small"><div class="cardsmall cardsmall-thematic cardsmall-cta cardsmall-hero"> <img class="cardsmall-img-top image-style-cardsmall-1-column" src="./Landing_page/Content/ecohydrology_web_platform_button_image.png" width="289" height="424" alt="" loading="lazy"><div class="cardsmall-body"><div class="cardsmall-title">Ecohydrology Demonstration Sites</div><div class="cardsmall-text">

        </div>            </div><div class="field field--name-field-link field--type-link field--label-hidden field__item"><a href="http://www.ecohydrology-ihp.org/demosites/" class="btn btn-primary btn-arrow-right" target="_blank">{{ _("Discover") }}</a></div>
    </div></div>
        </div>

        <div class="col-md-4 col3">
        <div class="col-small"><div class="cardsmall cardsmall-thematic cardsmall-cta cardsmall-hero"> <img class="cardsmall-img-top image-style-cardsmall-1-column" src="./Landing_page/Content/water_quality_portal_button_image.png" width="289" height="424" alt="" loading="lazy"><div class="cardsmall-body"><div class="cardsmall-title">Water Quality Monitoring Portal</div><div class="cardsmall-text"></div>
        </div>            <div class="field field--name-field-link field--type-link field--label-hidden field__item"><a href="https://en.unesco.org/waterqualitymonitor" class="btn btn-primary btn-arrow-right" target="_blank">{{ _("Discover") }}</a></div>
    </div></div>
        </div>  

        <div class="col-md-4 col3">
        <div class="col-small"><div class="cardsmall cardsmall-thematic cardsmall-cta cardsmall-hero"> <img class="cardsmall-img-top image-style-cardsmall-1-column" src="./Landing_page/Content/urban_water_solutions_database_button_image.jpg" width="289" height="424" alt="" loading="lazy"><div class="cardsmall-body"><div class="cardsmall-title">Urban Water Solutions Database</div><div class="cardsmall-text"></div>
        </div>            <div class="field field--name-field-link field--type-link field--label-hidden field__item"><a href="https://ecociv.my.site.com/W12Blueprint/s/" class="btn btn-primary btn-arrow-right" target="_blank">{{ _("Discover") }}</a></div>
    </div></div>
        </div>  

        <div class="col-md-4 col3">
        <div class="col-small"><div class="cardsmall cardsmall-thematic cardsmall-cta cardsmall-hero"> <img class="cardsmall-img-top image-style-cardsmall-1-column" src="./Landing_page/Content/internet_of_things_button_image.PNG" width="289" height="424" alt="" loading="lazy"><div class="cardsmall-body"><div class="cardsmall-title">Internet of Things Portal</div><div class="cardsmall-text"></div>
        </div>            <div class="field field--name-field-link field--type-link field--label-hidden field__item"><a href="https://tb.ihp-wins.unesco.org/dashboard/4922c770-13c0-11f0-8913-cf831348fa91?publicId=260967b0-4e9c-11ef-b517-e7921ca0fba9" class="btn btn-primary btn-arrow-right" target="_blank">{{ _("Discover") }}</a></div>
    </div></div>
        </div>  

        <div class="col-md-4 col3">
        <div class="col-small"><div class="cardsmall cardsmall-thematic cardsmall-cta cardsmall-hero"> <img class="cardsmall-img-top image-style-cardsmall-1-column" src="./Landing_page/Content/citizen_science_portal_button_image.png" width="289" height="424" alt="" loading="lazy"><div class="cardsmall-body"><div class="cardsmall-title">Citizen Science Portal</div><div class="cardsmall-text"></div>
        </div>            <div class="field field--name-field-link field--type-link field--label-hidden field__item"><a href="https://cs.ihp-wins.unesco.org/" class="btn btn-primary btn-arrow-right" target="_blank">{{ _("Discover") }}</a></div>
    </div></div>
        </div>  

    </div>
  </div>
  

  