{% extends "page.html" %}
{% block title %}
{% trans %}Flood and Drought Monitoring Portal{% endtrans %} - {{ super() }}
{% endblock %}


{% block content %}


<div class="homepage layout-{{ homepage_style }}">
    <div id="content" class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}

    <div class="main">

        <div class="container">
            
            <div class="toolbar" role="navigation" aria-label="Breadcrumb">
                <ol class="breadcrumb">                 
                    <li class="home"><a href="/" aria-label="Home"><i class="fa fa-home"></i><span> Home</span></a></li>
                    <li class="active"><a href="{{ h.url_for('/flood-drought-portal') }}">{% trans %}Flood and Drought Monitoring Portal{% endtrans %}</a></li>
                </ol>
            </div>

            <!-- Banner with overlay text using same structure as FeaturedPublications -->
            <section class="module module-narrow module-shallow">
              <div class="section-title" style="margin-bottom: 2rem;">
                <div class="section-title-bg" style="background-image: url('./Landing_page/Content/flood_and_drought_monitoring_button_image.jpg');"></div>
                <div class="section-title-overlay"></div>
                <div class="section-title-content">
                  <h2>{{ _('Flood and Drought Monitoring and Early Warning Systems') }}</h2>
                  <p class="section-title-description">{{ _('In support of hazard early warning these monitors provide operational near real-time monitoring and forecasting of flood and drought conditions.') }}</p>
                </div>
              </div>
            </section>
          </div>
        
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <!-- Portal Cards Section -->
                <div class="row" style="margin-bottom: 3rem;">
                  <div class="col-md-4">
                    <div class="col-small">
                      <div class="cardsmall cardsmall-thematic cardsmall-cta cardsmall-hero"> 
                        <img class="cardsmall-img-top image-style-cardsmall-1-column" src="./Landing_page/Content/zimbabwe_flood_and_drought_monitor.avif" alt="" loading="lazy">
                        <div class="cardsmall-body">
                          <h3 class="cardsmall-title">{% trans %}Zimbabwe Flood and Drought Monitor{% endtrans %}</h3>
                          <div class="cardsmall-text">
                            <p>{% trans %}Access comprehensive flood and drought monitoring data for Zimbabwe.{% endtrans %}</p>
                          </div>
                          <div class="field field--name-field-link field--type-link field--label-hidden field__item">
                            <a href="https://hydrology.soton.ac.uk/apps/zim_app/" class="btn btn-primary btn-arrow-right" target="_blank">{{ _("Access") }}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-md-4">
                    <div class="col-small">
                      <div class="cardsmall cardsmall-thematic cardsmall-cta cardsmall-hero"> 
                        <img class="cardsmall-img-top image-style-cardsmall-1-column" src="./Landing_page/Content/african_flood_and_drought_monitor.avif" alt="" loading="lazy">
                        <div class="cardsmall-body">
                          <h3 class="cardsmall-title">{% trans %}African Flood and Drought Monitor{% endtrans %}</h3>
                          <div class="cardsmall-text">
                            <p>{% trans %}Continental monitoring system for flood and drought conditions across Africa.{% endtrans %}</p>
                          </div>
                          <div class="field field--name-field-link field--type-link field--label-hidden field__item">
                            <a href="https://hydrology.soton.ac.uk/apps/afdm/" class="btn btn-primary btn-arrow-right" target="_blank">{{ _("Access") }}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-md-4">
                    <div class="col-small">
                      <div class="cardsmall cardsmall-thematic cardsmall-cta cardsmall-hero"> 
                        <img class="cardsmall-img-top image-style-cardsmall-1-column" src="./Landing_page/Content/south_africa_flood_and_drought_monitor.avif" alt="" loading="lazy">
                        <div class="cardsmall-body">
                          <h3 class="cardsmall-title">{% trans %}South Africa Flood and Drought Monitor{% endtrans %}</h3>
                          <div class="cardsmall-text">
                            <p>{% trans %}National monitoring system for South Africa's flood and drought conditions.{% endtrans %}</p>
                          </div>
                          <div class="field field--name-field-link field--type-link field--label-hidden field__item">
                            <a href="https://hydrology.soton.ac.uk/apps/saf_app/" class="btn btn-primary btn-arrow-right" target="_blank">{{ _("Access") }}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Second row of cards -->
                <div class="row" style="margin-bottom: 3rem;">
                  <div class="col-md-4">
                    <div class="col-small">
                      <div class="cardsmall cardsmall-thematic cardsmall-cta cardsmall-hero"> 
                        <img class="cardsmall-img-top image-style-cardsmall-1-column" src="./Landing_page/Content/mozambique_flood_and_drought_monitor.avif" alt="" loading="lazy">
                        <div class="cardsmall-body">
                          <h3 class="cardsmall-title">{% trans %}Mozambique Flood and Drought Monitor{% endtrans %}</h3>
                          <div class="cardsmall-text">
                            <p>{% trans %}National monitoring system for Mozambique's flood and drought conditions.{% endtrans %}</p>
                          </div>
                          <div class="field field--name-field-link field--type-link field--label-hidden field__item">
                            <a href="https://hydrology.soton.ac.uk/apps/moz_app/" class="btn btn-primary btn-arrow-right" target="_blank">{{ _("Access") }}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-md-4">
                    <div class="col-small">
                      <div class="cardsmall cardsmall-thematic cardsmall-cta cardsmall-hero"> 
                        <img class="cardsmall-img-top image-style-cardsmall-1-column" src="./Landing_page/Content/namibia_flood_and_drought_monitor.avif" alt="" loading="lazy">
                        <div class="cardsmall-body">
                          <h3 class="cardsmall-title">{% trans %}Namibia Flood and Drought Monitor{% endtrans %}</h3>
                          <div class="cardsmall-text">
                            <p>{% trans %}National monitoring system for Namibia's flood and drought conditions.{% endtrans %}</p>
                          </div>
                          <div class="field field--name-field-link field--type-link field--label-hidden field__item">
                            <a href="https://hydrology.soton.ac.uk/apps/nam_app/" class="btn btn-primary btn-arrow-right" target="_blank">{{ _("Access") }}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-md-4">
                    <div class="col-small">
                      <div class="cardsmall cardsmall-thematic cardsmall-cta cardsmall-hero"> 
                        <img class="cardsmall-img-top image-style-cardsmall-1-column" src="./Landing_page/Content/malawi_flood_and_drought_monitor.avif" alt="" loading="lazy">
                        <div class="cardsmall-body">
                          <h3 class="cardsmall-title">{% trans %}Malawi Flood and Drought Monitor{% endtrans %}</h3>
                          <div class="cardsmall-text">
                            <p>{% trans %}National monitoring system for Malawi's flood and drought conditions.{% endtrans %}</p>
                          </div>
                          <div class="field field--name-field-link field--type-link field--label-hidden field__item">
                            <a href="https://hydrology.soton.ac.uk/apps/mal_app/" class="btn btn-primary btn-arrow-right" target="_blank">{{ _("Access") }}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- What are Flood and Drought Monitoring Systems section -->
                <div style="margin-bottom: 3rem;">
                  <h3>{% trans %}What are Flood and Drought Monitoring and Early Warning Systems?{% endtrans %}</h3>
                  <p>{% trans %}These are continental and national monitors, they record flood and drought related parameters such as:{% endtrans %}</p>
                  
                  <ul>
                    <li>{% trans %}Soil moisture index{% endtrans %}</li>
                    <li>{% trans %}Evapotranspiration{% endtrans %}</li>
                    <li>{% trans %}Transpiration{% endtrans %}</li>
                    <li>{% trans %}Runoff{% endtrans %}</li>
                    <li>{% trans %}Temperatures{% endtrans %}</li>
                    <li>{% trans %}Wind{% endtrans %}</li>
                    <li>{% trans %}Streamflow{% endtrans %}</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>

    
    </div>
    </div>
    {% endblock %}
  </div>




{% endblock %} 