{% extends "page.html" %}


{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}


{% block content %}
  <div class="homepage layout-{{ homepage_style }}">
    <div id="content" class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}
      {# Home page v2 (added by Jorgen Van Der Biest): replaces
         {% snippet "home/custom_layout.html" %}, see home_v2.py #}
      {% snippet "home/home_v2.html" %}
    {% endblock %}
  </div>
{% endblock %}
