{% extends "page.html" %}


{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}


{% block content %}
  <div class="homepage layout-{{ homepage_style }}">
    <div id="content" class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}
      {# Home page v2 (added by Jorgen Van Der Biest): new design when
         ckanext.theme_ejemplo.home_design = v2, see home_v2.py #}
      {% if h.home_v2_enabled() %}
        {% snippet "home/home_v2.html" %}
      {% else %}
      {% snippet "home/custom_layout.html"%}
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}
