/* background before footer */
body {
background: #fff !important;
}
/* background logo */
.masthead {
margin-bottom: initial;
padding: 10px 0;
color: #fff !important;
background: #fff !important;
}
.masthead .logo img {
    width: 300px !important;
	max-height: none !important;
    padding: 15px 0;
}

/* footer */
.site-footer {
margin-bottom: initial;
padding: 10px 0;
color: #fff !important;
background: #0069B4 !important;
padding: 20px 0;
}
/* search background */
.homepage .module-search .module-content {
border-radius: 3px 3px 0 0;
background-color: #fff !important;
border-bottom: none;
}
/*search margin */
.homepage .module-search {
    margin-top: 40px;
}
/* title search data color */
.homepage .module-search .module-content .heading {
    color: #000 !important;
}
/* tag background */
.homepage .module-search .tags {
padding: 5px 10px 10px 10px;
background-color: #0069B4 !important;
border-radius: 0 0 3px 3px;
}
@media (min-width: 768px){
	.hero {
	background: url("banner_big.jpg") !important;
	background-color: #fff !important;
	}
}
@media (max-width: 768px){
	.hero {
	background: url("banner_small.jpg") !important;
	background-color: #fff !important;
	}
}

  /* The "navigation pills" in the masthead (the links to Datasets,
   *    Organizations, etc) when the user's pointer hovers over them. */
.masthead .navigation .nav-pills li a:hover {
	  background-color: #0069B4 !important;
	    color: white !important;
    }
 
.masthead .nav > li > a, .masthead .nav > li > a:focus, .masthead .nav > li > a:hover, .masthead .nav > .active > a, .masthead .nav > .active > a:hover, .masthead .nav > .active > a:focus {
    color: #0069B4 !important;
    text-shadow: none;
}

/* padding fix */
@media (min-width: 768px) and (max-width: 991px){
	.masthead .navigation.section {
		float: right;
		padding-top: 25px !important; 
	}
}
@media (min-width: 992px){
	.masthead .navigation.section {
		padding-top: 25px !important; 
	}
}
@media (min-width: 992px){
.masthead .site-search {
    padding-top:25px !important;
}
}

.box {
    background-color: #fff;
    border: 1px solid #0069B4 !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
}
/* top bar */

.account-masthead {
    min-height: 30px;
    color: #fff !important;
    background: #0069B4 !important;
}
.account-masthead .account ul li {
    display: block;
    float: left;
    border-left: 1px solid #fff !important;
}

/* bottom rectangles*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.homepage .row {
    position: relative;
    background: #fff;
}
.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li a:focus, .masthead .navigation .nav-pills li.active a {
    background-color: #0069B4 !important;
	color: #fff !important;
}
/*Background */
@media (min-width: 768px){
.main {
    padding-top: 10px;
    background: url("banner_small.jpg") !important;
	background-color: #fff !important;
}
}
@media (max-width: 768px){
.main {
    padding-top: 10px;
    background: url("banner_big.jpg") !important;
	background-color: #fff !important;
}
}
/* Title pages 
.toolbar .breadcrumb a {
    color: #fff !important;
}
.btn-primary {
    color: #fff;
    background-color: #0069B4 !important;
    border-color: #000 !important;
}
*/