  <form action="{% url_for 'util.internal_redirect' %}" method="GET">
    <select name="url" style="background-color: transparent; border: 0px solid #ccc; color: inherit;cursor: pointer; padding:0" onchange="this.form.submit()">

        <option  style="color:black;" value="" selected>IHP IX</option>
        <option  style="color:black;" value="https://forms.office.com/Pages/ResponsePage.aspx?Host=Teams&lang={locale}&groupId={groupId}&tid={tid}&teamsTheme={theme}&upn={upn}&id=Uq5PHbM5-kuwswIpVrERlPV3XlCBEXFBjwvcm5ZTrWNUNlYxQTFQRUgxUjBSNUJNMUlJVTBBTDFBQSQlQCN0PWcu" >IHP IX Reporting</option>
        <option  style="color:black;" value="https://unesco.sharepoint.com/sites/IntergovernmentalHydrologicalProgrammeIHP/SitePages/IHP-IX-Implementation-Progress.aspx?OR=Teams-HL&CT=1736211052496&clickparams=eyJBcHBOYW1lIjoiVGVhbXMtRGVza3RvcCIsIkFwcFZlcnNpb24iOiI0OS8yNDEyMDEwMDIxMSJ9" >IHP IX Progress</option>

    </select>
    <span style="content: '▼'; position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"></span>
  </form>