{% set current_lang = request.environ.CKAN_LANG %}
<li>
  <form action="{% url_for 'util.internal_redirect' %}" method="POST">
    <select name="url" style="background-color: transparent; border: 0px solid #ccc; color: inherit;cursor: pointer; padding:0" onchange="this.form.submit()">
      {% for locale in h.get_available_locales() %}
        <option  style="color:black;" value="{% url_for h.current_url(), locale=locale.short_name %}" {% if locale.short_name == current_lang %}selected{% endif %}>
          {{  locale.display_name  | upper }}
        </option>
      {% endfor %}
    </select>
    <span style="content: '▼'; position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"></span>
  </form>
</li>